a {
  font-family: 'exo';
  text-decoration: none;
  color: #0c0;
  width: max-content;
  word-break: unset;
  &:hover {
    cursor: pointer;
    color: whitesmoke;
    text-decoration: underline;
  }
}
.btn-show, .btn-submit {
  padding: 2%;
  border: 1px solid #0c0;
  border-radius: 0.5em;
  background: transparent;
  color: #0c0;
  font-family: 'exo';
  text-transform: capitalize;
  box-shadow: unset;
  text-shadow: unset;
  font-size: 1.5vmax;
  width:max-content;
  margin:0 auto;
  &:hover {
    cursor: pointer;
    border-color: wheat;
    box-shadow: unset;
    text-shadow: unset;
  }
}
p {
  font-family: 'exo';
  color: white;
}
h3 {
  font-family: 'exo';
}
ul,
li {
  list-style-type: none;
}
body {
  color:white;
  background: #222;
}
.site-content {
  width: 100%;
  height: inherit;
}
.content-area {
  width: 100%;
  height: 100%;
}
.entry-title {
  width: 100%;
  font-family: 'Exo';
  font-weight: 200;
  display: inline-flex;
  color: white;
  
}
.entry-content {
  width: 100%;
  margin: 0 auto;
}
.site-main {
  width: 70%;
  margin: 0 auto;
  display: inline-flex;
  //   border: 1px dotted red;
  padding: 2%;
  &:before {
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 10vmax;
    content: '\f10e';
    transform: rotate(180deg);
    left: 14%;
    position: absolute;
    // line-height: 10vh;
    // top: 0;
    color: #009100;
  }
  &:after {
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 10vmax;
    content: '\f10e';
    transform: rotate(360deg);
    right: 14%;
    position: absolute;
    // line-height: 10vh;
    // top: 0;
    color: #009100;
  }
}

.archive-content {
  h3 {
    color: white;
  }
}

.site-footer {
  width:1080px;
  .site-info {
    .menu-site_menu-container {
      width: 100%;
      .menu{
        li{
          &:nth-child(4){
            &:before{
              content:'Brought to you by ';
              color:white;
            }
          }
        }
      }
    }
  }
}


//****************SUBMIT QUOTE FORM
.entry-content{
  .txt-response{
    font-size:1.5vmax !important;
    display:none;
  }
}

.login-required{
  padding:10% 0;
  display: flex;
  flex-flow:column nowrap;
  justify-content: space-around;
  line-height: 1.6;
  
  p,a{
    font-weight: 100;

  }
  
}

//*******************archive-CATEGORIES
.archive-content{
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  padding: 2% 0;
  nav{
    padding: 3% 1%;
    border-top:1px dotted gray;
    border-bottom:1px dotted gray;
  }
  & >strong{
    margin: 2% 0;
    font-size: 1.5vmax;
  }
}